body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flex{
  display:flex;
}

.a-center{
  align-items: center;
}

.j-center{
  justify-content: center;
}

.j-between{
  justify-content: space-between;
}

.flex-column{
  flex-direction: column;
}

body{
  background-color:rgba(136, 227, 239, 0.96);
}
